<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.quantity }} x
                {% if item.product %}
                    {{ item.product.name }}
                {% elif item.footwear %}
                    {{ item.footwear.name }}
                {% endif %}
                 - ${{ item.price }}
            </li>
        {% empty %}
            <li>Your cart is empty.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'shop_home' %}">Continue Shopping</a>

</body>
</html>