{% extends 'master.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <h1>Your Cart</h1>
    
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.quantity }} x
                {% if item.product %}
                    {{ item.product.name }} - ${{ item.price }}
                {% elif item.footwear %}
                    {{ item.footwear.name }} - ${{ item.price }}
                {% endif %}
            
            </li>
        {% empty %}
            <li>Your cart is empty.</li>
        {% endfor %}
    </ul>
    
    <!-- Debugging output -->
    <p>Cart Items (for debugging):</p>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'shop_home' %}">Continue Shopping</a>

{% endblock %}

{% block footer %}
{% endblock %}